@keyframes typing{
    0%{content: "";}
    1.6%{content: "L";}
    3.2%{content: "La";}
    4.8%{content: "Lar";}
    6.4%{content: "Larr";}
    8.0%{content: "Larry";}
    9.6%{content: "Larry ";}
    11.2%{content: "Larry D";}
    12.8%{content: "Larry Da";}
    14.4%{content: "Larry Dan";}
    16.0%{content: "Larry Dani";}
    17.6%{content: "Larry Danie";}
    19.2%{content: "Larry Daniel";}
    20.8%{content: "Larry Daniels ";}
    22.4%{content: "Larry Daniel";}
    24.0%{content: "Larry Danie";}
    25.6%{content: "Larry Dani";}
    27.2%{content: "Larry Dan";}
    28.8%{content: "Larry Da";}
    30.4%{content: "Larry D";}
    32.0%{content: "Larry ";}
    33.6%{content: "Larry";}
    35.2%{content: "Larr";}
    36.8%{content: "Lar";}
    38.4%{content: "La";}
    40.0%{content: "L";}
    41.6%{content: "";}
    43.2%{content: "D";}
    44.8%{content: "De";}
    46.4%{content: "Dev";}
    48.0%{content: "Deve";}
    49.6%{content: "Devel";}
    51.2%{content: "Develo";}
    52.8%{content: "Develop";}
    54.4%{content: "Develope";}
    56.0%{content: "Developer";}
    57.6%{content: "Developer";}
    59.2%{content: "Develope";}
    60.8%{content: "Develop";}
    62.4%{content: "Develo";}
    64.0%{content: "Devel";}
    65.6%{content: "Deve";}
    67.2%{content: "Dev";}
    68.8%{content: "De";}
    70.4%{content: "D";}
    72.0%{content: "D";}
    73.6%{content: "De";}
    75.2%{content: "Des";}
    76.8%{content: "Desi";}
    78.4%{content: "Desig";}
    80.0%{content: "Design";}
    81.6%{content: "Designe";}
    83.2%{content: "Designer";}
    84.8%{content: "Designe";}
    86.4%{content: "Design";}
    88.0%{content: "Desig";}
    89.6%{content: "Desi";}
    91.2%{content: "Des";}
    92.8%{content: "De";}
    94.4%{content: "D";}
    96.0%{content: "";}
    97.6%{content: "";}
    99.2%{content: "";}
 }