@media (max-width:767px){
    .home .caption h1 {
        font-size: 2rem;
    }
    .home .social-icon {
        width: 100%;
    }
    .navbar-nav{
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        .nav-link,
        .nav-item .active{
            color: black;
        }
        .nav-item .active::after{
            width: 0;
        }
    }
    .contact .form .input{
        width: 100%;
        padding: 0;
    }
}
@media (min-width:992px){
     .navbar{
        .logo,
        .navbar-nav{
            margin-top: 1.5rem;
        }
     }
}
